@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

h3 {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 200%;
  color: #202023;
}

h3 p {
  font-family: 'Fira Sans', sans-serif;
  text-align: left;
  color: #FFFFFF;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 120%;
  margin-right: 75px;
  margin-left:  75px;
  color: #2A3948
}

.skin-blue .main-header .logo {
  font-family: 'Fira Sans', sans-serif;
  background-color: #212F3C;
  position: fixed; 
  overflow: visible;
}

.skin-blue .main-header .logo:hover {
  font-family: 'Fira Sans', sans-serif;
  background-color: #212F3C;
}

.skin-blue .main-header .navbar  {
  font-family: 'Fira Sans', sans-serif;
  background-color: #212F3C;
}   

.skin-blue .main-header .navbar .sidebar-toggle:hover  {
  font-family: 'Fira Sans', sans-serif;
  background-color: #212F3C;
}

.sidebar{
  position: fixed; 
  overflow: visible;
}

.skin-blue .main-sidebar  {
  font-family: 'Fira Sans', sans-serif;
  background-color: #212F3C;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  font-family: 'Fira Sans', sans-serif;
  background-color: #212F3C;
  border-left: 0px solid #062C51;
}

#sidebarCollapsed {
  position: fixed; 
  overflow: visible;
}

.logo-mini {
  margin-left : auto;
  margin-right : auto;
  position: absolute;
}

.content {
  margin-top: 50px;
}

.bg-olive {
    background-color: #ECCBAE!important;
}

.bg-yellow {
    background-color: #046C9A!important;
}

.bg-navy {
    background-color: #D69C4E!important;
}
                                
                                